body{
    /*background-image: linear-gradient(to bottom, rgb(101, 115, 255), rgb(122, 113, 238), rgb(143, 112, 220), rgb(164, 110, 203), rgb(185, 109, 185), rgb(206, 107, 168), rgb(178, 125, 175), rgb(149, 143, 181), rgb(121, 162, 188), rgb(92, 180, 194), rgb(64, 198, 201), rgb(35, 216, 207));*/
    background-image: url("../images/XXXL.jpg");
}

form {
    border: 2px solid white;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 20px;
    padding-left: 8px;
    margin: 0 auto;
    display: block;
    margin-left: 20%;
}

span {
    text-align: center;
    color: white;
    font-size: 26px;
}

span:before{
    content: "Идентификатор визита: ";
    margin-left: 5px;
}


input{

    margin-top: 20px;
    background-color: #fff;
    margin-left: 10px;
    border: 2px solid transparent;
    padding: 4px 8px;
    border-radius: 10px;
}

input:focus {
    border: 2px solid rgb(46,190,89);
}

form {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0 auto;
    margin-top: 20vh;
}